*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.header {
    position: relative;
    background: url("assets/image.png") center/cover;
    height: 200px;
    color: white;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 100%;
}

.header-container a {
    text-decoration: none;
    color: inherit;
}

.search-bar {
    border: 1px solid #D1D5DB;
    border-radius: 4px;
    font-family: inherit;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: white;
    position: absolute;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
}

.search-bar * {
    padding: 8px 12px;
}

.search-icon {
    color: #9CA3AF;
}

.search-input {
    border: none;
    outline: none;
    flex: 1;
    padding: 4px;
    color: #6B7280;
}

.search-input::placeholder {
    color: #6B7280;
}

.search-btn {
    border: none;
    border-left: 1px solid #D1D5DB;
    color: #374151;
    background-color: #F9FAFB;
    cursor: pointer;
    padding: 8px 24px;
    align-self: stretch;
}

.main {
    margin: 0 auto;
    padding-top: 40px;
}

.initial-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.initial-text, .error-text {
    width: 400px;
    font-size: 1.2rem;
    color: #DFDDDD;
    margin: 8px;
    text-align: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
}

.film {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    padding-bottom: 1em;
}

.film:not(:last-child) {
    border-bottom: 1px solid #E5E7EB;
}

.film-poster {
    width: 100px;
}

.film-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
}

.film-info * {
    margin: 0;
}

.film-title {
    font-size: 1.1rem;
    font-weight: 500;
}

.imdb {
    margin-left: 4px;
    font-size: 0.8rem;
}

.film-specs {
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
}

.film-desc {
    font-size: 0.8rem;
    color: #6B7280;
}

.add-watchlist-btn {
    background-color: inherit;
    border: none;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 200;
}

@media (min-width: 800px) {
    html {
        font-size: 20px;
    }

    .header, .main {
        max-width: 1280px;
        margin: 0 auto;
    }

    .container {
        max-width: 800px;
    }

    .film-desc {
        color: #6B7280;
    }

    .imdb svg {
        width: 16px;
        height: 16px;
    }
}